@import '../../assets/common/Base.scss';

$border_color:#ccc;
$font_color:#000080;
$font_size:14px;
$input_width:60%;
$input_height:30px;
$btn_height:28px;
$find_height:100px;
.ratesAudit{
   width:100%;
   #car_sure_top{
      width:100%;
      height:$find_height;
      border:1px solid  $border_color;
      border-radius:4px;
      margin-bottom:18px;
      .find{
        height:40px;
        line-height:40px;
        border-bottom:1px solid $border_color;
        span{
          margin-left:15px;
        }
      }
    }
    #car_sure_middle{
      padding:0 8px;
      label{
        text-align:right;
        display:inline;
        padding:0;
        font-size:$font_size;
        color:$font_color;
        font-weight:normal;
      }
      input,select{
        height:$input_height;
        width:$input_width;
        padding:4px;
        outline:none;
        border:1px solid $border_color;
        border-radius:4px;
      }
      .middle_first>div{
        text-align:left;
        float: left;
        width:25%;
      }
      .middle_two>div{
        margin-top:-20px;
        float: left;
        width:25%;
      }
      
    }
    .btns{
        text-align: center;
        line-height: 58px;
        .findbtn{
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
        width:50px;
        height:$btn_height;
        line-height:$btn_height;
        border:0px;
        border-radius:4px;
      }
      .searchbtn{
        margin-left:15px;
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
        width:50px;
        height:$btn_height;
        line-height:$btn_height;
        border:0px;
        border-radius:4px;
      }
    }
}